
 <mat-drawer-container class="page-container mat-typography" autosize>
    <mat-toolbar color="primary">
        
         <!--
        <button mat-mini-fab (click)="drawer.open()" color="warn" style="margin: 10px;">
              <mat-icon aria-label="Menu">home</mat-icon>
            </button>
         --> 
         <div>Canon Logo here</div> <div class="spacer"></div>         <div>More toolbar controls here</div>
    </mat-toolbar>
   
  <mat-drawer #drawer mode="side" disableClose="true" opened="true" >
      <mat-toolbar color="primary">
          <button mat-mini-fab (click)="isExpanded = !isExpanded" color="warn" style="margin:0px;">
              <mat-icon style="margin-right: 1px;"  class="menu-icon" aria-hidden="false" aria-label="Men0">menu</mat-icon>
          </button>    
      </mat-toolbar>

      <app-sidebarmenu [isExpanded]="isExpanded"></app-sidebarmenu> 
    
  </mat-drawer>
  <div class="page-content">
      <router-outlet></router-outlet>
    </div>
 
</mat-drawer-container>